body {
  font-family: "Inter", sans-serif !important;
  font-size: 24px;
  margin-top: 32px;
  margin-left: 64px;
  font-variant: small-caps !important;
}

select {
  font-family: "Inter";
  font-variant: small-caps;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-left: 16px;
  font-size: 18px;
  width: 160px;
  height: 44px;
  font-weight: 500;
}

#background-img-preview {
  margin-top: 16px;
  height: 336px;
  width: 336px;
}

label {
  display: inline-block;
  width: 180px;
  box-sizing: border-box;
}

input {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 340px;
  text-transform: uppercase;
  height: 32px;
}

button {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  width: 60px;
  height: 28px;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(150, 150, 150);
  color: black;
  text-align: center;
  font-weight: 500;
  font-variant: small-caps;
  font-size: 15px;
}

button:hover {
  background-color: rgb(220, 220, 220);
}
