@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.ttf") format("woff2");
}

* {
  font-family: "Inter", sans-serif;
}

body {
  height: 158px;
  width: 256px;
}

button {
  text-align: center;
  width: 100%;
}
