@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.ttf") format("woff2");
}

* {
  font-family: "Inter", sans-serif;
}

body {
  height: 480px;
  width: 300px;
}

button {
  text-align: center;
  width: 100%;
}

.material-symbols-outlined {
  font-size: 32px;
}
